* {
    box-sizing: border-box;
}
:root {
    --primary-purple: hsl(259, 100%, 65%);
    --primary-light-red: hsl(0, 100%, 67%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-off-white: hsl(0, 0%, 94%);
    --neutral-light-grey: hsl(0, 0%, 86%);
    --neutral-smokey-grey: hsl(0, 1%, 44%);
    --neutral-off-black: hsl(0, 0%, 8%);
}

@font-face {
    font-family: "Poppins bold";
    src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins extra bold italic";
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

body {
    font-family: "Poppins", sans-serif;
    max-width: 1440px;
    margin: auto;
    background-color: var(--neutral-off-white);
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--neutral-white);
    width: 90%;
    max-width: 700px;
    margin-inline: auto;
    border-radius: 1rem;
    border-bottom-right-radius: 10rem;
    padding: 3rem 3rem 0rem;
    margin-top: 6rem;
    min-height: 30rem;
}

.formContainer {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid var(--neutral-light-grey);
    padding-bottom: 3rem;
    min-height: 11rem;
    position: relative;
}
.formContainer > * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input[type="number"] {
    padding-block: 0.4rem;
    padding-left: 1rem;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    max-width: 9rem;
    font-family: "Poppins bold";
    border: 1px solid var(--neutral-light-grey);
    border-radius: 0.5rem;
    outline: none;
    caret-color: var(--primary-purple);
}

/****************** hide the arrows on input number ********/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
/* *********************************************** */

input:focus,
input:active {
    border-color: var(--primary-purple);
}
label {
    color: var(--neutral-smokey-grey);
    font-family: "Poppins bold";
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
}

.ageDisplay {
    font-size: 4rem;
    font-family: "Poppins extra bold italic";
    line-height: 1rem;
}
.ageDisplay span {
    color: var(--primary-purple);
}
.submitBtn {
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--primary-purple);
    position: absolute;
    top: 73%;
    left: 88%;
    border: none;
    padding: 1.5rem;
}

.submitBtn:hover {
    background-color: var(--neutral-off-black);
}

.errorMsg {
    font-size: 0.8rem;
    padding-top: 0;
    margin-block: 0;
}

.error > * {
    color: var(--primary-light-red);
    border-color: var(--primary-light-red);
}

@media screen and (max-width: 675px) {
    .calculatorContainer {
        margin-top: 3rem;
    }
    .formContainer {
        justify-content: space-evenly;
    }
    .submitBtn {
        top: 73%;
        left: 38%;
    }
    input[type="number"] {
        width: 6.5rem;
        font-size: 1.8rem;
        padding-left: 0.4rem;
    }
    label {
        font-size: 0.5rem;
    }
    .ageDisplay {
        line-height: 3rem;
    }
}
